@model Online_Exam_Project_Main.Models.Candidate_tbl

@{
    ViewBag.Title = "Create";
}

<h2 style="color:white">Registration</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="color:white">New Candidate</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group" style=" color:white">
            @Html.LabelFor(model => model.candidate_name, "Candidate Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidate_name)
                @Html.ValidationMessageFor(model => model.candidate_name)
            </div>
        </div>

        <div class="form-group" style="color:white">
            @Html.LabelFor(model => model.candidate_password, "Candidate Password", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidate_password)
                @Html.ValidationMessageFor(model => model.candidate_password)
            </div>
        </div>

        <div class="form-group" style="color:white">
            @Html.LabelFor(model => model.candidate_email, "Candidate Email", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidate_email)
                @Html.ValidationMessageFor(model => model.candidate_email)
            </div>
        </div>

        <div class="form-group" style="color:white">
            @Html.LabelFor(model => model.candidate_contact, "Candidate Contact", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidate_contact)
                @Html.ValidationMessageFor(model => model.candidate_contact)
            </div>
        </div>

        <div class="form-group" style="color:white">
            @Html.LabelFor(model => model.candidate_institution, "Candidate Institution", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidate_institution)
                @Html.ValidationMessageFor(model => model.candidate_institution)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<style>
    body {
        background-image: url('/Content/image3.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
